ConsoleApplication1/Service References/ServiceReferenceCobro/zfi_ws_pago.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__zfi_ws_pago">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__zfi_ws_pago_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZFI_WS_PAGOS">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>005056B72CC81EEDA5829C1FA2915CB2</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZFI_WS_INTERFASE_PAGOS">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:complexType name="ZSFI_WS_PAGOS">
        <xsd:sequence>
          <xsd:element name="CIA_CLIENTE" type="tns:string" />
          <xsd:element name="PAIS" type="tns:string" />
          <xsd:element name="RNC" type="tns:string" />
          <xsd:element name="FECHA_PAGO" type="tns:string" />
          <xsd:element name="NUMERO_PAGO" type="tns:string" />
          <xsd:element name="BANCO" type="tns:string" />
          <xsd:element name="NUM_CUENTA" type="tns:string" />
          <xsd:element name="MONTO_PAGADO" type="tns:string" />
          <xsd:element name="MONEDA_PAGO" type="tns:string" />
          <xsd:element name="ANTICIPO" type="tns:string" />
          <xsd:element name="RECIBO" type="tns:string" />
          <xsd:element name="SU_DOCUMENTO" type="tns:string" />
          <xsd:element name="FECHA" type="tns:string" />
          <xsd:element name="COMPROBANTE_FISCAL" type="tns:string" />
          <xsd:element name="MONEDA" type="tns:string" />
          <xsd:element name="TOTAL_RECIBO" type="tns:string" />
          <xsd:element name="DESCUENTOS" type="tns:string" />
          <xsd:element name="VALOR_NETO" type="tns:string" />
          <xsd:element name="NUM_CONTENEDOR" type="tns:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSFI_WS_PAGOS_RESULTADO">
        <xsd:sequence>
          <xsd:element name="RESULTADO" type="tns:string" />
          <xsd:element name="MENSAJES" type="tns:ZSFI_WS_T_MSG" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSFI_WS_MSG">
        <xsd:sequence>
          <xsd:element name="MENSAJE" type="tns:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSFI_WS_T_PAGOS">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZSFI_WS_PAGOS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZSFI_WS_T_MSG">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZSFI_WS_MSG" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZFI_WS_INTERFASE_PAGOS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ZSFI_WS_PAGOS" type="tns:ZSFI_WS_T_PAGOS" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZFI_WS_INTERFASE_PAGOSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RESULTADO" type="tns:ZSFI_WS_PAGOS_RESULTADO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZFI_WS_INTERFASE_PAGOS">
    <wsdl:part name="parameters" element="tns:ZFI_WS_INTERFASE_PAGOS" />
  </wsdl:message>
  <wsdl:message name="ZFI_WS_INTERFASE_PAGOSResponse">
    <wsdl:part name="parameter" element="tns:ZFI_WS_INTERFASE_PAGOSResponse" />
  </wsdl:message>
  <wsdl:portType name="ZFI_WS_PAGOS">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZFI_WS_PAGOS" />
    </wsp:Policy>
    <wsdl:operation name="ZFI_WS_INTERFASE_PAGOS">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZFI_WS_INTERFASE_PAGOS" />
      </wsp:Policy>
      <wsdl:input message="tns:ZFI_WS_INTERFASE_PAGOS" />
      <wsdl:output message="tns:ZFI_WS_INTERFASE_PAGOSResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="zfi_ws_pago" type="tns:ZFI_WS_PAGOS">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__zfi_ws_pago" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZFI_WS_INTERFASE_PAGOS">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZFI_WS_PAGOS:ZFI_WS_INTERFASE_PAGOSRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="zfi_ws_pago_soap12" type="tns:ZFI_WS_PAGOS">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__zfi_ws_pago_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZFI_WS_INTERFASE_PAGOS">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZFI_WS_PAGOS:ZFI_WS_INTERFASE_PAGOSRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="zfi_ws_pago">
    <wsdl:port name="zfi_ws_pago" binding="tns:zfi_ws_pago">
      <soap:address location="http://vhfdeds4ci.sap.schad.do:8000/sap/bc/srt/rfc/sap/zfi_ws_pagos/110/zfi_ws_pago/zfi_ws_pago" />
    </wsdl:port>
    <wsdl:port name="zfi_ws_pago_soap12" binding="tns:zfi_ws_pago_soap12">
      <wsoap12:address location="http://vhfdeds4ci.sap.schad.do:8000/sap/bc/srt/rfc/sap/zfi_ws_pagos/110/zfi_ws_pago/zfi_ws_pago" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>